### Importing packages and Reading in the data

Before we can begin exploring and manipulating any database we need to import the packages that we will be using in the project. for the purposes of this basic tutorial we only need the pandas package.

In [1]:
# Import pandas
import pandas as pd

Once we have imported our packages we can read in the data we are working with for this project. In this case we are using a database of stats from dungeons and dragons characters that I found somewhere on the internet. The file is in the format of a column seperated file or CSV and can be imported as a data frame with the pd.read_csv function. Once imported I like to use the head function to look at the first 5 rows and make sure the import worked.

In [ ]:
# Read data from a CSV file
df = pd.read_csv('dnd_stats.csv')

# Display the first 5 rows of the DataFrame
df.head()

### Inspecting the data

Once we have imported the data, before we can start manipulating it we need to inspect it to have a better idea of what the data looks like. The 'dtypes' method can be used to identify the object ype in each field

In [3]:
# Show the data types of each column
df.dtypes

race            object
height           int64
weight           int64
speed            int64
strength         int64
dexterity        int64
constitution     int64
intelligence     int64
wisdom           int64
charisma         int64
dtype: object

The describe method will output a series of statistics describing all the numerical feild in the data frame

In [5]:
# Get a quick statistic summary of your data
df.describe()

,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
count,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000
mean,59.597500,146.863500,28.324500,12.85130,12.838400,12.752800,12.752900,12.41650,12.870100
std,13.283107,68.304729,2.360245,2.96494,2.945531,2.924953,2.947119,2.89283,2.974746
min,33.000000,39.000000,25.000000,3.00000,3.000000,3.000000,3.000000,3.00000,3.000000
25%,52.000000,120.000000,25.000000,11.00000,11.000000,11.000000,11.000000,10.00000,11.000000
50%,64.000000,154.000000,30.000000,13.00000,13.000000,13.000000,13.000000,13.00000,13.000000
75%,69.000000,188.000000,30.000000,15.00000,15.000000,15.000000,15.000000,15.00000,15.000000
max,82.000000,367.000000,30.000000,20.00000,20.000000,20.000000,20.000000,19.00000,20.000000

The shape method will output the number of rows and the number of columns in your data frame

In [6]:
# Show the shape of the DataFrame (rows, columns)
df.shape

(10000, 10)

### Data selection

In [9]:
# Select a single column
walk_speed = df['speed']

stren_dex = df[['strength','dexterity']]

print(walk_speed,stren_dex)

0       30
1       30
2       30
3       30
4       30
        ..
9995    30
9996    30
9997    30
9998    30
9999    30
Name: speed, Length: 10000, dtype: int64       strength  dexterity
0           14         15
1           11         11
2           14         16
3            8         19
4            8         17
...        ...        ...
9995        13         18
9996         8         14
9997         4          5
9998        12         16
9999        16         17

[10000 rows x 2 columns]

In [11]:
# Select rows 0 through 2
df[0:3]

,race,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
0,dragonborn,79,279,30,14,15,12,7,13,16
1,dragonborn,79,331,30,11,11,11,13,13,17
2,dragonborn,71,230,30,14,16,11,13,10,18

In [12]:
# Select rows where heaight is greater than 50
df[df['height'] > 50]

,race,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
0,dragonborn,79,279,30,14,15,12,7,13,16
1,dragonborn,79,331,30,11,11,11,13,13,17
2,dragonborn,71,230,30,14,16,11,13,10,18
3,dragonborn,75,265,30,8,19,7,10,13,16
4,dragonborn,72,229,30,8,17,14,14,10,9
...,...,...,...,...,...,...,...,...,...,...
9995,tiefling,63,146,30,13,18,17,13,15,13
9996,tiefling,72,230,30,8,14,13,6,14,20
9997,tiefling,66,137,30,4,5,16,12,12,15
9998,tiefling,68,143,30,12,16,12,15,9,16
9999,tiefling,70,201,30,16,17,15,12,13,13

In [14]:
# Drop a column
df.drop('height', axis=1)

,race,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
0,dragonborn,279,30,14,15,12,7,13,16
1,dragonborn,331,30,11,11,11,13,13,17
2,dragonborn,230,30,14,16,11,13,10,18
3,dragonborn,265,30,8,19,7,10,13,16
4,dragonborn,229,30,8,17,14,14,10,9
...,...,...,...,...,...,...,...,...,...
9995,tiefling,146,30,13,18,17,13,15,13
9996,tiefling,230,30,8,14,13,6,14,20
9997,tiefling,137,30,4,5,16,12,12,15
9998,tiefling,143,30,12,16,12,15,9,16
9999,tiefling,201,30,16,17,15,12,13,13

In [16]:
# Drop multiple columns
df.drop(['height','weight'], axis = 1)

,race,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
0,dragonborn,30,14,15,12,7,13,16
1,dragonborn,30,11,11,11,13,13,17
2,dragonborn,30,14,16,11,13,10,18
3,dragonborn,30,8,19,7,10,13,16
4,dragonborn,30,8,17,14,14,10,9
...,...,...,...,...,...,...,...,...
9995,tiefling,30,13,18,17,13,15,13
9996,tiefling,30,8,14,13,6,14,20
9997,tiefling,30,4,5,16,12,12,15
9998,tiefling,30,12,16,12,15,9,16
9999,tiefling,30,16,17,15,12,13,13

### Data manipulation

In [17]:
# Rename a column
df.rename(columns={'charisma': 'rizz'})

,race,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,rizz
0,dragonborn,79,279,30,14,15,12,7,13,16
1,dragonborn,79,331,30,11,11,11,13,13,17
2,dragonborn,71,230,30,14,16,11,13,10,18
3,dragonborn,75,265,30,8,19,7,10,13,16
4,dragonborn,72,229,30,8,17,14,14,10,9
...,...,...,...,...,...,...,...,...,...,...
9995,tiefling,63,146,30,13,18,17,13,15,13
9996,tiefling,72,230,30,8,14,13,6,14,20
9997,tiefling,66,137,30,4,5,16,12,12,15
9998,tiefling,68,143,30,12,16,12,15,9,16
9999,tiefling,70,201,30,16,17,15,12,13,13

In [20]:
# Apply a function to a column
df['speed'].apply(lambda x: x*2)

0       60
1       60
2       60
3       60
4       60
        ..
9995    60
9996    60
9997    60
9998    60
9999    60
Name: speed, Length: 10000, dtype: int64

In [21]:
# Group by a column and get mean of the other columns
df.groupby('intelligence').mean()

C:\Users\bonzo\AppData\Local\Temp\ipykernel_19324\3879029879.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('intelligence').mean()

,height,weight,speed,strength,dexterity,constitution,wisdom,charisma
intelligence,,,,,,,,
3,59.333333,144.000000,28.333333,13.166667,13.833333,12.833333,11.500000,12.333333
4,66.181818,174.863636,29.318182,13.318182,13.454545,13.409091,10.772727,12.500000
5,60.723077,160.600000,28.461538,13.138462,12.430769,13.061538,12.184615,12.692308
6,60.701613,159.951613,28.306452,12.653226,12.508065,12.967742,12.443548,12.532258
7,61.278481,156.713080,28.586498,12.860759,13.164557,12.894515,12.113924,12.797468
8,60.661111,155.727778,28.458333,12.991667,13.125000,12.625000,12.094444,12.891667
9,60.385000,151.556667,28.433333,12.915000,13.026667,12.751667,12.583333,12.740000
10,60.418224,152.507009,28.463785,12.974299,12.926402,12.822430,12.516355,13.021028
11,60.339787,152.585673,28.436592,12.887706,12.737657,12.883833,12.441433,12.835431
12,59.481023,148.143564,28.246700,12.792904,12.849835,12.773102,12.281353,12.896040
13,59.535402,145.708831,28.337311,12.909308,12.740652,12.717582,12.308671,12.731106
14,60.290717,150.901466,28.428339,12.821661,12.912052,12.719870,12.561889,12.931596
15,59.832117,147.020985,28.362226,12.873175,12.837591,12.656934,12.385949,12.946168
16,58.102536,137.571114,28.114664,12.747519,12.822492,12.638368,12.592062,12.841235
17,58.352181,136.725363,28.190630,12.814216,12.599354,12.954766,12.507270,12.941842
18,56.980695,126.764479,28.011583,12.594595,12.853282,12.598456,12.173745,13.073359
19,51.470588,90.607843,27.156863,12.509804,12.450980,12.225490,12.676471,12.676471
20,40.058824,42.058824,25.000000,12.176471,12.882353,12.411765,12.705882,12.411765

In [23]:
# Create a new column as a function of existing columns
df['density'] = df['weight'] / df['height']
df

,race,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma,density
0,dragonborn,79,279,30,14,15,12,7,13,16,3.531646
1,dragonborn,79,331,30,11,11,11,13,13,17,4.189873
2,dragonborn,71,230,30,14,16,11,13,10,18,3.239437
3,dragonborn,75,265,30,8,19,7,10,13,16,3.533333
4,dragonborn,72,229,30,8,17,14,14,10,9,3.180556
...,...,...,...,...,...,...,...,...,...,...,...
9995,tiefling,63,146,30,13,18,17,13,15,13,2.317460
9996,tiefling,72,230,30,8,14,13,6,14,20,3.194444
9997,tiefling,66,137,30,4,5,16,12,12,15,2.075758
9998,tiefling,68,143,30,12,16,12,15,9,16,2.102941
9999,tiefling,70,201,30,16,17,15,12,13,13,2.871429

### Data analysis

In [24]:
# Find the correlation between columns
df.corr()

C:\Users\bonzo\AppData\Local\Temp\ipykernel_19324\1943556813.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma,density
height,1.000000,0.894832,0.894455,0.179299,0.153711,0.011285,-0.074086,0.007502,0.150191,0.768505
weight,0.894832,1.000000,0.671101,0.193236,0.178351,0.063784,-0.104817,-0.013134,0.101761,0.958318
speed,0.894455,0.671101,1.000000,0.159327,0.125260,-0.050078,-0.055069,0.026270,0.163431,0.499720
strength,0.179299,0.193236,0.159327,1.000000,0.076081,0.006370,-0.020744,-0.000031,-0.009164,0.158178
dexterity,0.153711,0.178351,0.125260,0.076081,1.000000,-0.000040,-0.021951,-0.012886,0.011723,0.156080
constitution,0.011285,0.063784,-0.050078,0.006370,-0.000040,1.000000,-0.017981,0.022677,-0.030495,0.111910
intelligence,-0.074086,-0.104817,-0.055069,-0.020744,-0.021951,-0.017981,1.000000,0.019193,0.010860,-0.118094
wisdom,0.007502,-0.013134,0.026270,-0.000031,-0.012886,0.022677,0.019193,1.000000,0.007217,-0.018865
charisma,0.150191,0.101761,0.163431,-0.009164,0.011723,-0.030495,0.010860,0.007217,1.000000,0.073468
density,0.768505,0.958318,0.499720,0.158178,0.156080,0.111910,-0.118094,-0.018865,0.073468,1.000000

In [27]:
# Get the count of unique values in a column
df['wisdom'].nunique()

17

In [28]:
# Get the count of each value in a column
df['wisdom'].value_counts()

13    1325
12    1252
14    1227
11    1093
15     985
10     927
16     795
9      646
17     505
8      475
7      276
18     225
6      150
5       69
4       22
19      22
3        6
Name: wisdom, dtype: int64

### Saving data

In [29]:
# Write DataFrame to a CSV file
df.to_csv('new_dnd_stats.csv', index=False)