In [1]:
# Import pandas
import pandas as pd

# Read data from a CSV file
df = pd.read_csv('dnd_stats.csv')

# Display the first 5 rows of the DataFrame
df.head()

,race,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
0,dragonborn,79,279,30,14,15,12,7,13,16
1,dragonborn,79,331,30,11,11,11,13,13,17
2,dragonborn,71,230,30,14,16,11,13,10,18
3,dragonborn,75,265,30,8,19,7,10,13,16
4,dragonborn,72,229,30,8,17,14,14,10,9

In [3]:
# Show the data types of each column
df.dtypes

race            object
height           int64
weight           int64
speed            int64
strength         int64
dexterity        int64
constitution     int64
intelligence     int64
wisdom           int64
charisma         int64
dtype: object

In [5]:
# Get a quick statistic summary of your data
df.describe()

,height,weight,speed,strength,dexterity,constitution,intelligence,wisdom,charisma
count,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000
mean,59.597500,146.863500,28.324500,12.85130,12.838400,12.752800,12.752900,12.41650,12.870100
std,13.283107,68.304729,2.360245,2.96494,2.945531,2.924953,2.947119,2.89283,2.974746
min,33.000000,39.000000,25.000000,3.00000,3.000000,3.000000,3.000000,3.00000,3.000000
25%,52.000000,120.000000,25.000000,11.00000,11.000000,11.000000,11.000000,10.00000,11.000000
50%,64.000000,154.000000,30.000000,13.00000,13.000000,13.000000,13.000000,13.00000,13.000000
75%,69.000000,188.000000,30.000000,15.00000,15.000000,15.000000,15.000000,15.00000,15.000000
max,82.000000,367.000000,30.000000,20.00000,20.000000,20.000000,20.000000,19.00000,20.000000

In [6]:

# Show the shape of the DataFrame (rows, columns)
df.shape

(10000, 10)

In [9]:
# Select a single column
walk_speed = df['speed']

stren_dex = df[['strength','dexterity']]

print(walk_speed,stren_dex)

0       30
1       30
2       30
3       30
4       30
        ..
9995    30
9996    30
9997    30
9998    30
9999    30
Name: speed, Length: 10000, dtype: int64       strength  dexterity
0           14         15
1           11         11
2           14         16
3            8         19
4            8         17
...        ...        ...
9995        13         18
9996         8         14
9997         4          5
9998        12         16
9999        16         17

[10000 rows x 2 columns]